*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2{
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.calculator{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
input{
  width: 115px;
  height: 35px;
  border: none;
  background-color:#D7D7D7;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.resultButton{
  width: 35px;
  height: 35px;
  background-color: #000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 275px;
}
img{
  padding-top: 10px;
  padding-left: 10px;
}