@import './danya.css';
@import './edward.css';
@import './erik.css';
@import './nastya.css';
@import './nazar.css';
@import './oleh.css';
@import './vanya.css';
@import './yura.css';

/* Тут будемо писати стилі разом. В цьому файлі ПОКИ що НІЧОГО не пишіть! */