/* .nazar {
  width: 50px;
  height: 50px;
  background-color: purple;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
}

button {
  width: 150px;
  height: 50px;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.startGameButton {
  border-radius: 15px;
  background-color: black;
}

.againGameButton {
  border-radius: 15px;
  background-color: black;
}

.dino {
  width: 100px;
  height: 100px;
}

.cactus {
  width: 80px;
  height: 80px;
}

.img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 170px;
}